// start .sDataProtection
.sDataProtection {
	padding-top: calc(var(--sPT) / 1.09);
	padding-bottom: calc(var(--sPB) / 1.7);
	border-top: 1px solid #bbc0d6;
	color: $dark;
	font-weight: 500;

	.container {
		@include media-breakpoint-up(xxl) {
			max-width: 1545px;
		}
	}

	.section-title {
		padding-bottom: calc(var(--sTPB) / 1.4);
	}

	h1, h2 {
		color: $primary2;
		font-size: 30px;
		@include media-breakpoint-up(xl){
			font-size: 45px;

		}
		@include media-breakpoint-up(xxl){
			font-size: 60px;
		}
		font-weight: 600;
	}

	.h6, h6 {
		font-size: 25px;
		font-weight: 600;
		margin-bottom: .7rem;
	}

	.h4, h4 {
		color: $dark;
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 1.08rem;
	}

	&__block {
		max-width: 1435px;
		padding-bottom: 28px;
	}

	p {
		margin-bottom: 1.52rem;
		line-height: calc(32/21);
		@include media-breakpoint-down(md) {
			font-size: 16px;
		}
	}

	&__polite {
		max-width: 595px;
		margin-bottom: 36px;
		@include media-breakpoint-down(md) {
			font-size: 16px;
		}
	}

	&__row {
		margin-bottom: 30px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 60px;
		}
	}

	&__contact {
		padding-bottom: rem(30);
		.h6, h6 {
			color: $dark;
		}
		span {
			display: block;
			color: $dark;
			font-weight: 500;
			line-height: calc(32/21);
			@include media-breakpoint-down(md) {
				font-size: 16px;
			}
		}
	}

	&__mail {
		display: block;
		margin-top: rem(33);
		color: $dark;
		font-weight: 500;
		@include media-breakpoint-down(md) {
			font-size: 16px;
		}
	}

	ul {
		margin-bottom: 0;
	}

	li {
		@include media-breakpoint-down(md) {
			font-size: 16px;
		}
		line-height: calc(32/21);
		list-style: none;
		position: relative;
		padding-left: 20px;
		@include media-breakpoint-up(sm) {
			padding-left: 30px;
		}
		font-weight: 600;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 5px;
			width: 23px;
			height: 23px;
			background-image: url('../img/svg/feather.svg');
			background-position: center;
			background-repeat: no-repeat;
		}
		.tdu {
			text-decoration: underline;
			text-decoration-color: $primary2;
		}
	}

	// page 14
	&--inner {
		border-top: none;
		padding-bottom: calc(var(--sPB) * 1.25);
		.section-title {
			padding-bottom: calc(var(--sTPB) / 1.6);
		}
		.container {
			@include media-breakpoint-up(md) {
				max-width: 825px !important;
			}
		}

		ul {
			margin-bottom: 33px;
		}

		li {
			color: $dark;
			a {
				text-decoration: underline;
			}
		}

		.sDataProtection__block {
			padding-bottom: 20px;
		}


	}
	//

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(sm) {}

} // end.sDataProtection