mixin footer()
	+b.FOOTER.footer.block-with-lazy
		+e.container.container
			+e.top-row.row
				.col
					+e.A.logo(href='/')
						img(loading="lazy" src="img/svg/logo.svg" alt="")
					+e.A.mail.d-md-none(href="#") contact@creatale.de
					+e.A.address.d-md-none(href="https://www.google.com/maps/@49.8475482,24.0405042,13z" target="_blank")
						b Creatale GmbH
						span Heilbronner Str. 42
						span Ludwigsburg
				.col-auto
					+soc()
			+e.A.mail.d-none.d-md-block.d-lg-none(href="#") contact@creatale.de
			.row
				+e.mail-col.col-lg-4.d-none.d-lg-block
					+e.A.mail(href="#") contact@creatale.de
				+e.address-col.col-md-6.col-lg-4.d-none.d-md-block
					+e.A.address(href="https://www.google.com/maps/@49.8475482,24.0405042,13z" target="_blank")
						b Creatale GmbH
						span Heilbronner Str. 42
						span Ludwigsburg
				+e.arr-r-col.col-md-6.col-lg-4
					+e.all-rights
						span © creatale
						a(href="#") Datenschutzerklärung
						a(href="#") Impressum
