mixin sChess()
	// start sChess
	+b.sChess.section#sChess&attributes(attributes)
		+e.items-cont
			+chessItem(1)
				h4 Über unsere Philosophie
				p Digitalagenturen gibt es&nbsp;wie Sand am&nbsp;Meer&nbsp;&mdash; also warum gerade in&nbsp;unsere mir uns durchstarten? Jede und jeder von uns hat unterschiedliche Vorstellungen von seinem perfekten Arbeitsplatz: moderne Workspaces und flexible Arbeitszeiten, grandioser Teamspirit innerhalb und au&szlig;erhalb der Projekte sowie Espressoflat und Feierabendbier. Was ist dir wichtig? Mach dir hier einen &Uuml;berblick dar&uuml;ber, was wir dir f&uuml;r deine t&auml;gliche Arbeit bei uns bieten.
			+chessItem(2)
				h4 Über unseren CEO
				p Digitalagenturen gibt es&nbsp;wie Sand am&nbsp;Meer&nbsp;&mdash; also warum gerade in&nbsp;unsere mir uns durchstarten? Jede und jeder von uns hat unterschiedliche Vorstellungen von seinem perfekten Arbeitsplatz: moderne Workspaces und flexible Arbeitszeiten, grandioser Teamspirit innerhalb und au&szlig;erhalb der Projekte sowie Espressoflat und Feierabendbier. Was ist dir wichtig? Mach dir hier einen &Uuml;berblick dar&uuml;ber, was wir dir f&uuml;r deine t&auml;gliche Arbeit bei uns bieten.
			+chessItem(3)
				h4 Über unsere Kunden
				p Digitalagenturen gibt es&nbsp;wie Sand am&nbsp;Meer&nbsp;&mdash; also warum gerade in&nbsp;unsere mir uns durchstarten? Jede und jeder von uns hat unterschiedliche Vorstellungen von seinem perfekten Arbeitsplatz: moderne Workspaces und flexible Arbeitszeiten, grandioser Teamspirit innerhalb und au&szlig;erhalb der Projekte sowie Espressoflat und Feierabendbier. Was ist dir wichtig? Mach dir hier einen &Uuml;berblick dar&uuml;ber, was wir dir f&uuml;r deine t&auml;gliche Arbeit bei uns bieten.
			+chessItem(4)
				h4 Über das Unternehmen
				p Digitalagenturen gibt es&nbsp;wie Sand am&nbsp;Meer&nbsp;&mdash; also warum gerade in&nbsp;unsere mir uns durchstarten? Jede und jeder von uns hat unterschiedliche Vorstellungen von seinem perfekten Arbeitsplatz: moderne Workspaces und flexible Arbeitszeiten, grandioser Teamspirit innerhalb und au&szlig;erhalb der Projekte sowie Espressoflat und Feierabendbier. Was ist dir wichtig? Mach dir hier einen &Uuml;berblick dar&uuml;ber, was wir dir f&uuml;r deine t&auml;gliche Arbeit bei uns bieten.
			+chessItem(5)
				h4 PS: Wir machen auch Spiele
				p Digitalagenturen gibt es&nbsp;wie Sand am&nbsp;Meer&nbsp;&mdash; also warum gerade in&nbsp;unsere mir uns durchstarten? Jede und jeder von uns hat unterschiedliche Vorstellungen von seinem perfekten Arbeitsplatz: moderne Workspaces und flexible Arbeitszeiten, grandioser Teamspirit innerhalb und au&szlig;erhalb der Projekte sowie Espressoflat und Feierabendbier. Was ist dir wichtig? Mach dir hier einen &Uuml;berblick dar&uuml;ber, was wir dir f&uuml;r deine t&auml;gliche Arbeit bei uns bieten.

	// end sChess
mixin chessItem(imgNum=1)
	+e.item
		+e.txt
			block
		+e.img-cont
			+pic(`chess-img-${imgNum}.jpg`)(class="sChess__img")
