
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title.form-data.h3.ttu Back call
				p.after-headline Fill out the application and we will contact you within 15 minutes
			+input("Your name")(required)  
			+e.BUTTON.btn.btn(type="submit"  ) 
			+polite()
	// #modal-call
	
	// end modals