// start .sWarrantyTabs
.sWarrantyTabs {

	--sPT: 50px;
	--sPB: 35px;
	--sTPB: 20px;
	@include media-breakpoint-up(md){
		--sPT: 70px;
		--sPB: 70px;
		--sTPB: 20px;
	}
	@include media-breakpoint-up(lg){
		--sPT: 90px;
		--sPB: 90px;
		--sTPB: 30px;
	}
	@include media-breakpoint-up(xl){
		--sPT: 120px;
		--sPB: 120px;
		--sTPB: 35px;
	}
	@include media-breakpoint-up(xxl){
		--sPT: 195px;
		--sPB: 215px;
		--sTPB: 56px;
	}

	&--karrier{
		@include media-breakpoint-up(md){
			--sPT: 50px;
			--sPB: 0;
		}
		@include media-breakpoint-up(lg){
			--sPT: 50px;
			--sPB: 0;
		}
		@include media-breakpoint-up(xl){
			--sPT: 50px;
			--sPB: 0;
		}
		@include media-breakpoint-up(xxl){
			--sPT: 50px;
			--sPB: 0;
		}
	}

	&__container{

	}
	.section-title{
		h2 {
			color: $primary2;
			font-weight: 600;
			line-height: 1.2;

			@include media-breakpoint-up(xl) {
				font-size: 45px;
			}
			@include media-breakpoint-up(xxl) {
				font-size: 60px;
			}
		}
	}
	&__row{
		justify-content: space-between;
		@include media-breakpoint-up(xxl){
			justify-content: flex-start;
			margin-right: -32px;
		}
	}
	//pic col
	&__picture-col{
		margin-bottom: 30px;
		@include media-breakpoint-up(lg){
			width: 32.5%!important;
			margin-bottom: 0;
		}
	}
	&__pic{
		position: relative;
		padding-top: 179.45%;
		width: 100%;

		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	//mark-col
	&__mark-col{
		margin-bottom: 30px;
		@include media-breakpoint-up(lg){
			width: 22% !important;
			margin-bottom: 0;
		}

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__imgHidden {
		transform: scale(0);
		@include mt();
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__mark-item{
		&--hoverImg {
			background-color: #fff !important;
			overflow: hidden;
			padding: 40px 0 20px 0 !important;
			@include media-breakpoint-up(xl){
				padding: 40px 0 20px 0 !important;
			}
			@include media-breakpoint-up(xxl){
				padding: 96px 0 20px 0 !important;
			}
			.sWarrantyTabs__img {
				
				img {
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}

			}
			.sWarrantyTabs__img, .sWarrantyTabs__txt {
				@include mt;
			}
			&:hover {
				.sWarrantyTabs__img, .sWarrantyTabs__txt {
					transform: scale(0);
				}
			}
		}
		display: block;
		transition: background-color .3s;
		position: relative;

		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		background-color: $light-white;
		//background-color: red;

		height: calc(100% - 19px);

		padding: 40px 0 20px 0;
		@include media-breakpoint-up(xl){
			padding: 40px 0 20px 0;
		}
		@include media-breakpoint-up(xxl){
			padding: 96px 0 20px 0;
		}

		&:first-child{
			margin-bottom: 30px;
			@include media-breakpoint-up(xxl) {
				margin-bottom: 38px;
			}
		}
		&:hover, &:focus, &:active {
			@include media-breakpoint-up(md){
				padding: 30px 0 30px 0;

				background-color: $primary2;
			}
			@include media-breakpoint-up(xl){
				padding: 30px 0 30px 0;
			}
			@include media-breakpoint-up(xxl){
				padding: 32px 0 85px;
			}
			background-color: #fff;
			.sWarrantyTabs__imgHidden {
				transform: scale(1);
			}
			.sWarrantyTabs__hiddenText {
				transform: scale(1);
				height: auto;
			}
			.sWarrantyTabs__img{
				//height: 60px;
				//
				@include media-breakpoint-up(sm){
					//height: 60px;
				}
				@include media-breakpoint-up(md){
					height: 70px;
					margin-bottom: 20px !important;
				}
				@include media-breakpoint-up(lg){
					height: 80px;
				}
				@include media-breakpoint-up(xl){
					height: 80px;
				}
				@include media-breakpoint-up(xxl){
					height: 100px;
				}
				.img-svg-js {

				@include media-breakpoint-up(md){
					path[fill="#ff7e0f"],
					path[fill="#ffb00d"]{
						fill: $white !important;
					}

					path[fill="#fff"],
					path[fill="#fffefd"] {
						fill: $primary !important;
					}
				}
			}
			}
		}
	}
	&__img{

		display: flex;
		align-items: flex-start;
		justify-content: center;
		width: 70%;

		height: 120px;
		margin-bottom: 20px;
		@include media-breakpoint-up(sm){
			height: 90px;
			margin-bottom: 20px;
		}
		@include media-breakpoint-up(md){
			height: 130px;
			margin-bottom: 30px;
		}
		@include media-breakpoint-up(lg){
			height: 100px;
			margin-bottom: 30px;
		}
		@include media-breakpoint-up(xl){
			height: 140px;
			margin-bottom: 30px;
		}
		@include media-breakpoint-up(xxl){
			height: 180px;
			margin-bottom: 10px;
		}
		margin-left: auto;
		margin-right: auto;
		// @include mt();


		.img-svg-js{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__txt{
		display: block;
		text-align: center;
		width: 90%;
		margin-left: auto;
		margin-right: auto;

		color: $dark;
		font-weight: 600;
		text-transform: uppercase;

		font-size: 18px;
		@include media-breakpoint-up(lg){
			font-size: 18px;
		}
		@include media-breakpoint-up(xl){
			font-size: 21px;
		}
		@include media-breakpoint-up(xxl){
			font-size: 30px;
		}
	}

	&__hiddenText {
		display: block;
		@include mt();
		transform: scaleY(0);
		transform-origin: 0 0;
		text-align: center;
		max-width: 90%;
		height: 0;
		margin-left: auto;
		margin-right: auto;

		color: $white;
		font-weight: 500;

		font-size: 16px;
		line-height: (26/16);
		@include media-breakpoint-up(xl){
			font-size: 18px;
			line-height: (32/18);
		}
		@include media-breakpoint-up(xxl){
			font-size: 20px;
			line-height: (26/20);
		}
	}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sWarrantyTabs