mixin sWarrantyTabs()
	// start sWarrantyTabs
	+b.SECTION.sWarrantyTabs.section#sWarrantyTabs&attributes(attributes)
		+e.container.container
			+b.section-title.text-center
				h2 Unser Garantieversprechen
			+e.row.row
				+e.picture-col.d-none.d-sm-block.col-sm-6
					+pic('warranty-man.jpg')(class='sWarrantyTabs__pic')
				+e.mark-col.col-sm-6
					+markItem(1, 'Flexgarantie','Wir garantieren Dir, dass wir Sprint für Sprint flexibel auf Deine Änderungswünsche und den Markt reagieren können.')
					+markItem(2, 'Exit-Garantie','Wir garantieren Dir, dass Du Dein Projekt nach jedem Sprint beenden oder pausieren kannst.')
				+e.mark-col.col-sm-6
					+markItem(3, 'Preisgarantie','Wir garantieren Dir einen Festpreis für jedes entwickelte Feature, damit Du volle Kostenkontrolle hast.')
					+markItem(4, 'Termingarantie','Wir garantieren Dir für jeden Sprint einen festen Liefertermin, auf den Du Dich verlassen kannst.')
				+e.mark-col.col-sm-6
					+markItem(5, 'Qualitätsgarantie','Wir garantieren Dir seriöse Qualität. Durch uns verursachte Fehler beheben wir lebenslang und kostenfrei.')
					+markItem(6, 'Eigentumsgarantie','Wir garantieren Dir exklusive und uneingeschränkte Nutzungsrechte - ohne böse Überraschungen.')
	// end sWarrantyTabs
mixin markItem(imgNum, txt, t)
	+e.mark-item
		+e.img
			//- +icon(`mark-img-${imgNum}`)
			img.img-svg-js(loading="lazy" src=`img/svg/mark-img-${imgNum}.svg` alt="")
		+e.txt=txt
		+e.hiddenText.d-none.d-md-block= t

mixin sWarrantyTabs-karrier()
	// start sWarrantyTabs
	+b.SECTION.sWarrantyTabs--karrier.section#sWarrantyTabs&attributes(attributes)
		+e.container.container
			+b.section-title.text-center
				h2 Das bekommst du bei uns
			+e.row.row
				+e.picture-col.d-none.d-sm-block.col-sm-6
					+pic('Creatale_Karriere-bei-Kreatale_3429.jpg')(class='sWarrantyTabs__pic')
				+e.mark-col.col-sm-6
					+markItem-kar(1, 'Karriere & Weiterbildung')
					+markItem-kar(2, 'QUALITÄT')
				+e.mark-col.col-sm-6
					+markItem-kar(2, 'Lorem Ipsum')
					+markItem-kar(4, 'TEAMSPIRIT')
				+e.mark-col.col-sm-6
					+markItem-kar(5, 'FLEXIBILITÄT')
					+markItem-kar(6, 'Lorem Ipsum')

mixin markItem-kar(imgNum, txt)
	+e.A.mark-item--hoverImg(href='#')
		+e.imgHidden
			img(loading="lazy" src="img/@2x/wt-kar-hover.jpg", alt="")
		+e.img
			img(loading="lazy" src=`img/@2x/wt-kar-${imgNum}.png` alt="")
		+e.txt=txt