mixin sWarrantyTabs()
	// start sWarrantyTabs
	+b.SECTION.sWarrantyTabs.section#sWarrantyTabs&attributes(attributes)
		+e.container.container
			+b.section-title.text-center
				h2 Unser Garantieversprechen
			+e.row.row
				+e.picture-col.d-none.d-sm-block.col-sm-6
					+pic('warranty-man.jpg')(class='sWarrantyTabs__pic')
				+e.mark-col.col-sm-6
					+markItem(1, 'Flexgarantie')
					+markItem(2, 'Exit-Garantie')
				+e.mark-col.col-sm-6
					+markItem(3, 'Preisgarantie')
					+markItem(4, 'Termingarantie')
				+e.mark-col.col-sm-6
					+markItem(5, 'Qualitätsgarantie')
					+markItem(6, 'Eigentumsgarantie')
	// end sWarrantyTabs
mixin markItem(imgNum, txt)
	+e.A.mark-item(href='#')
		+e.img
			img(loading="lazy" src=`img/svg/mark-img-${imgNum}.svg` alt="")
		+e.txt=txt

mixin sWarrantyTabs-karrier()
	// start sWarrantyTabs
	+b.SECTION.sWarrantyTabs--karrier.section#sWarrantyTabs&attributes(attributes)
		+e.container.container
			+b.section-title.text-center
				h2 Das bekommst du bei uns
			+e.row.row
				+e.picture-col.d-none.d-sm-block.col-sm-6
					+pic('wt-carrier-new.jpg')(class='sWarrantyTabs__pic')
				+e.mark-col.col-sm-6
					+markItem-kar(1, 'Karriere & Weiterbildung')
					+markItem-kar(2, 'QUALITÄT')
				+e.mark-col.col-sm-6
					+markItem-kar(2, 'Lorem Ipsum')
					+markItem-kar(4, 'TEAMSPIRIT')
				+e.mark-col.col-sm-6
					+markItem-kar(5, 'FLEXIBILITÄT')
					+markItem-kar(6, 'Lorem Ipsum')
mixin markItem-kar(imgNum, txt)
	+e.A.mark-item(href='#')
		+e.img
			img(loading="lazy" src=`img/@2x/wt-kar-${imgNum}.png` alt="")
		+e.txt=txt