mixin sContact(addClasses='d-none d-md-block')
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		+e.row
			+e.map-col
				img(src='img/@2x/map-img.jpg' alt="")
				+b.section-title
					h2 Wir freuen uns, dich bei uns begrüßen zu dürfen!
				+e.map-descr(class=addClasses)
					p
						| creatale GmbH
						br
						| Heilbronner Str. 42
						br
						| 71634 Ludwigsburg
					+e.link
						span
							| E-Mail:
							|
						a(href="mailto:contact@creatale.de") contact@creatale.de
						//-a(href='mailto:contact@creatale.de') contact@creatale.de
					+e.link
						span
							| Fax:
							|
						a(href="tell:+49714130992569") +49 7141 3099256-9
			+e.img-col
				img(loading="lazy" src="img/@2x/contact-img.jpg" alt="")
	// end sContact