// start .sContact
.sContact {

	&.padding-0{
		padding-top: 0;
	}
	--sPB: #{0};
	--sTPB: #{0};

	--sPT: #{50px};
	@include media-breakpoint-up(md){
		--sPT: #{80px};
	}
	@include media-breakpoint-up(lg){
		--sPT: #{90px};
	}
	@include media-breakpoint-up(xl){
		--sPT: #{121px};
	}
	@include media-breakpoint-up(xxl){
		--sPT: #{197px};
	}

	color: $white;

	&__row{
		background-color: $primary;

		@include media-breakpoint-up(md){
			height: 293px;
			display: flex;
			align-items: stretch;
		}
		@include media-breakpoint-up(lg){
			height: 391px;
		}
		@include media-breakpoint-up(xl){
			height: 550px;
		}
		@include media-breakpoint-up(xxl){
			height: 733px;
		}
	}
	&__map-col{
		position: relative;
		height: 375px;
		@include media-breakpoint-up(md){
			height: auto;
			width: 63.43%;
		}
		flex-shrink: 0;
		background-color: $primary3;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	}

	.section-title{
		position: absolute;

		top: 40px;
		left: 25px;
		width: calc(100% - 50px);
		@include media-breakpoint-up(md){
			top: 32px;
			left: 6.3vw;
			width: 425px;
		}
		@include media-breakpoint-up(lg){
			top: 48px;
			left: 5vw;
			width: 425px;
		}
		@include media-breakpoint-up(xl){
			top: 64px;
			left: 7vw;
			width: 600px;
		}
		@include media-breakpoint-up(xxl){
			top: 77px;
			left: 7.4vw;
			width: 700px;
		}

		h2{
			font-weight: 600;

			font-size: 30px;
			@include media-breakpoint-up(md){
				font-size: 30px;
			}
			@include media-breakpoint-up(lg){
				font-size: 40px;
			}
			@include media-breakpoint-up(xl){
				line-height: (63/50);
			}
			@include media-breakpoint-up(xxl){
				font-size: 60px;
				line-height: (65/60);
			}
		}

	}
	&__map-descr{
		//background-color: red;
		position: absolute;

		top: 160px;
		left: 25px;
		width: 200px;

		font-size: 16px;
		line-height: (26/16);
		@include media-breakpoint-up(md){
			top: 116px;
			left: 6.3vw;
			width: 200px;

			font-size: 16px;
			line-height: (26/16);
		}
		@include media-breakpoint-up(lg){
			top: 154px;
			left: 5vw;
		}
		@include media-breakpoint-up(xl){
			top: 207px;
			left: 7vw;
			width: 280px;

			font-size: 18px;
			line-height: (32/18);
		}
		@include media-breakpoint-up(xxl){
			top: 233px;
			left: 7.4vw;
			width: 300px;

			font-size: 21px;
			line-height: (32/21);
		}

		a{
			display: block;
			color: $white;
			&:hover{
				color: rgba($white, .6);
			}

			margin-bottom: 10px;
			@include media-breakpoint-up(md){
				margin-bottom: 10px;
			}
			@include media-breakpoint-up(lg){
				margin-bottom: 10px;
			}
			@include media-breakpoint-up(xl){
				margin-bottom: 30px;
			}
		}
		font-weight: 700;
	}
	&__link{
		span{

		}
		a{
			@include mt();
			color: $white;
			text-decoration: none;
			&:hover{
				color: $white;
				text-decoration: underline;
			}
		}
	}
	//img-col
	&__img-col{
		height: 375px;
		@include media-breakpoint-up(md){
			height: 100%;
			flex-grow: 1;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContact