mixin sNews()
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container
			+b.section-title
				h2 BLOG/NEWS
				p Erfahre mehr über unsere Experimente, Prototypen, Open-Source-Bibliotheken, Produkten und mehr.
			+e.row.row
				.col-lg-7
					+pic('blog-img')(class="sNews__banner-img")
					+b.baner-post
						+e.header


				.col-lg-5
	// end sNews