html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.pixel-perfect {
	top: 0;
	@include a-cent(x);
	display: block;
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0px;
	opacity: 0;
	// opacity: 0.7;
}

body,
html {
	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
}


.section {
	@include bgs; 
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title { 
	padding-bottom: var(--sTPB);

	h2{
		font-size: 30px;
		@include media-breakpoint-up(md){
			font-size: 40px;
		}
		@include media-breakpoint-up(xl){
			font-size: 50px;
		}
		@include media-breakpoint-up(xxl){
			font-size: 70px;
		}
	}
}

body {
	min-width: 320px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 98;
	}
}

.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10)
}


.main-wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
}

.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;

	}

	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}


// select.form-control {
// 	background-image: url(../img/svg/chevron-up.svg);
// 	background-repeat: no-repeat;
// 	background-position: calc(100%  - 20px) 50%; // background-size: rem(18) ;
// 	padding-right: rem(43px);
// 	appearance: none !important;

// 	&:not([size]):not([multiple]) {
// 		height: $input-height;
// 	}

// 	&:focus::-ms-value {

// 	}
// }


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}


.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	color: var(--swiperColorDef);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	margin-top: calc(-1 * var(--swiperArrowSize) * 0.4);
	@include mt;

	&:hover {
		background-color: $primary;
		border-color: $primary;
		color: var(--swiperBgDef);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	}

	@include media-breakpoint-up(lg) {}


	// --swiperArrowPosition: -15px; 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: $primary;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}


picture {
	display: block;

	// display: flex;
	// width: 100%;
	// height: 100%;
	img {
		@extend .res-i;
	}

	img.object-fit-js {
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
	font-family: 'object-fit: cover; object-position: top;';
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	width: 100%;
	z-index: 1000;
	background: #000;
	min-height: 100px;
	font-size: 20px;
	color: #ffffff;
}

iframe {
	border: none;
}

.container{
	@include media-breakpoint-down(sm){
		padding-left: 23px;
		padding-right: 26px;
	}
}

//
.circle-btn-frame{
	outline: none !important;
	cursor: pointer;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	border: 1px solid $light-dark;

	position: relative;
	z-index: 1;

	&:before{
		transition: all .3s ease-in;
		content: '';
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		width: calc(100% - 20px);
		height: calc(100% - 20px);
		border-radius: 50%;
		background-color: $primary2;
	}
	//
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	//txt
	color: $white;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1.04px;
	line-height: 1;
	text-transform: uppercase;


	@extend .water-circle;
	transition: font-size .25s;
	&:hover{
		font-size: 15px;
		color: $white;

		&:before{
			width: calc(100% - 15px);
			height: calc(100% - 15px);
			background-color: $primary;
		}
		&:after{
			animation: water-drop 1.3s 1 cubic-bezier(.29,.79,.29,.79);
			//cubic-bezier(.19,.67,.11,.64)
			//
		}
	}
}

.water-circle{
	&:after{
		content: '';
		position: absolute;
		z-index: 9;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		opacity: 0;
		transform: translateY(-50%) translateX(-50%);
		border-radius: 50%;
		border: 1px solid $light-dark;

	}
}

@keyframes water-drop {
	0%{
		//transform: scale(1);
		opacity: 0;
		width: 100%;
		height: 100%;
		//border: 1px solid $light-dark;
	}
	1%{
		opacity: 1;
	}
	70%{
		opacity: 0.05;
	}
	80%{
		opacity: 0.01;
	}
	100%{
		width: 200%;
		height: 200%;
		opacity: 0;
		//border: 1px solid rgba($primary2, .1);

	}
}

//middle dash
.middle-dash{
	position: relative;
	z-index: 1;
	&:after{
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		width: 1px;
		height: 100%;
		background-color: rgba($dark, .4);
	}
}

//fixed-btn
.fixed-btn-cont{
	$btn-position-right: 20px;
	$btn-position-bottom: 20px;

	right: $btn-position-right;
	bottom: $btn-position-bottom;

	width: 125px;
	height: 125px;
	@include media-breakpoint-up(md){
		display: flex;
		align-items: flex-end;
	}

	position: fixed;
	z-index: 9;

	transition: width 0s linear .36s, height 0s linear .36s, padding 0s linear .36s, right 0s linear .36s, bottom 0s linear .36s, background-color .36s ease-in-out;
	&.active{
		z-index: 999;
		@include media-breakpoint-down(lg){
			overflow: auto;
		}

		transition: width 0s linear 0s, height 0s linear 0s, padding 0s linear 0s, right 0s linear 0s, bottom 0s linear 0s, background-color .36s ease-in-out;
		background-color: rgba($black, .5);
		width: 100vw;
		height: 100vh;
		//min-height: 600px;
		right: 0px;
		bottom: 0px;

		padding: 20px;
		@include media-breakpoint-up(lg){
			padding: calc(20px + (76px / 2));
		}
		@include media-breakpoint-up(xxl){
			padding: calc(20px + (125px / 2));
		}
		.fixed-btn{
			opacity: 0;
			@include media-breakpoint-up(lg){
				opacity: 1;
			}
			position: absolute;
			right: $btn-position-right;
			bottom: $btn-position-bottom;

			//!!
			transition: right 0s linear 0s, bottom 0s linear 0s;
		}
		.fixed-btn-cont__input-box{
			transform: scale(1);
		}

	}

	.fixed-btn{
		//!!
		transition: right 0s linear .36s, bottom 0s linear .36s;

		position: absolute;
		right: 0;
		bottom: 0;

		@extend .circle-btn-frame;
		z-index: 111;
		border: 1px solid lighten($light-gray, 1);

		width: 76px;
		height: 76px;
		@include media-breakpoint-up(xxl){
			width: 125px;
			height: 125px;
		}

		&:after{
			border: 1px solid $white;
			content: none;
			@include media-breakpoint-up(lg){
				content: '';
			}
		}

		&:before{
			border: 2px solid $white;
			opacity: 0;

			background-image: url(../img/svg/cross.svg);
			background-repeat: no-repeat;

			background-size: 20px;
			@include media-breakpoint-up(xxl){
				background-size: 25px;
			}
			background-position: center;
		}
		&.active{
			&:before{
				opacity: 1;
			}
			.fixed-btn-cont__img{
				opacity: 0;
			}
			.fixed-btn-cont__input-box{
				transform: scale(1);
			}
			.fixed-btn-cont__{}
			.fixed-btn-cont__{}
		}

		&:hover{
			.fixed-btn-cont__img{
				transform: scale(1.05);
			}
		}
	}

	&__img{
		@include mt();

		width: 63px;
		height: 63px;
		@include media-breakpoint-up(xxl){
			width: 103px;
			height: 103px;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	//input-box
	&__input-box{
		color: $white;
		text-align: center;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		padding: 30px;
		@include media-breakpoint-up(lg){
			padding: 50px 65px 80px 65px;
		}


		@include mt();
		transform: scale(0);
		transform-origin: bottom right;

		height: calc(100vh - 40px);
		width: calc(100vw - 40px);
		@include media-breakpoint-up(md){
			max-height: calc(100vh - 40px);
			height: 525px;
			width: 436px;
		}

		margin-left: auto;
		background-color: $primary2;
	}
	//mob-btn
	&__mob-btn{
		position: absolute;
		right: 5px;
		top: 5px;
		width: 32px;
		height: 32px;
		border: 1px solid $white;

		&:before{
			width: 24px !important;
			height: 24px !important;
			background-color: $white !important;
		}
		&:after{
			content: none;
		}

		.icon{
			font-size: 12px;
			color: $primary2;
		}

	}
	&__address{

		font-family: $default-font;

		font-size: 14px;
		line-height: (18/14);
		@include media-breakpoint-up(lg){
			font-size: 18px;
			line-height: (26/18);
			margin-bottom: 45px;
		}

		b{
			text-transform: uppercase;
			display: block;
		}
		span{
			font-weight: 500;
		}
	}
	&__title{
		h6{
			font-weight: 700;
		}

		p{
			font-weight: 600;
			font-size: 16px;
			line-height: (20/16);
			@include media-breakpoint-up(lg){
				font-size: 21px;
				line-height: (32/21);
				margin-bottom: 45px;
			}
		}
		p:last-child{
			margin-bottom: 0;
		}
	}
	&__mail-img{
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: 76px;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}

		@include media-breakpoint-up(lg){
			margin-bottom: 30px;
		}
	}
	&__link{
		@include mt();
		color: $white;
		&:hover{
			color: rgba($white, .6);
		}

		font-weight: 700;


		font-size: 21px;
		line-height: 1;
		@include media-breakpoint-up(lg){
			font-size: 30px;
		}

	}
}