mixin slideLogo()
	+e.logoes-slider
		.swiper-container.logoes-slider-js
			.swiper-wrapper
				+logoesSlide(1)
				+logoesSlide(2)
					img.swiper-lazy(src="#" data-src=`img/@2x/partner-slide-2.png` alt="")
				+logoesSlide(3)
				+logoesSlide(4)
				+logoesSlide()
					img.swiper-lazy(src="#" data-src=`img/@2x/abcomed.png` alt="")
			.logoes-pugin.logoes-pugin-js.d-lg-none
mixin sSlider()
	// start sSlider
	+b.SECTION.sSlider.section#sSlider&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Unsere Lieblingskunden sind Platzhirsche in ihrer Nische:
			+e.slider
				.man-slider-prev
					+icon('arrow-prev')
				.man-slider-next
					+icon('arrow-next')
				.swiper-container.man-slider-js
					.swiper-wrapper
						+manSlide('')
						+manSlide(2)
						+manSlide(3)
			+slideLogo()
	// end sSlider

mixin manSlide(slideNum,logo)
	.swiper-slide
		+e.slide-content
			+e.img-cont
				+e.img
					img.swiper-lazy(src="#" data-src=`img/@2x/bw-man.jpg` alt="")
			+e.txt-bl
				+e.name=`Johnathan volz${slideNum}`
				+e.organization Geschäftsführer, VI-ARISE Communication GmbH
				+e.txt
					p=`Das Creatable – Team ist professionell, sorgfältig und kreativ! Es ist mir eine Freude mit ihnen zusammenzuarbeiten. Sie realisieren meine Ideen und mein Konzept, zielsicher und zuverlässig.${slideNum}`
					a(href='#') Projekt ansehen
				if logo
					+e.logo
						img(loading="lazy" src="img/svg/partner-slide-3.svg")

mixin logoesSlide(imgNum)
	.swiper-slide
		if block
			block
		else
			img.swiper-lazy(src="#" data-src=`img/svg/partner-slide-${imgNum}.svg` alt="")

mixin sSlider-04()
	// start sSlider
	+b.SECTION.sSlider--04.section#sSlider&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Unsere Lieblings-Kunden
				.h6 Besonders gerne arbeiten wir mit Unternehmensgründern sowie mit kleinen und mittelständischen Unternehmen, die Platzhirsch in ihrer Nische sind und als Hidden Champions tolle Ideen realisieren. 
				.h6 Unser Lieblingskunden kommen aus unterschiedlichsten Branchen. Sie haben Freude daran, akitiv involviert zu sein und wirken partnerschaftlich an den gemeinsamen Projekten mit.
			+e.slider
				.man-slider-prev
					+icon('arrow-prev')
				.man-slider-next
					+icon('arrow-next')
				.swiper-container.man-slider-js
					.swiper-wrapper
						+manSlide('','logo')
						+manSlide(2 ,'logo')
						+manSlide(3 ,'logo')

mixin sSlider4-2()
	// start sSlider
	+b.sSlider#sSlider&attributes(attributes)
		.container 
			+slideLogo()
	// end sSlider
