mixin sRoutine()
	// start sRoutine
	+b.SECTION.sRoutine.section#sRoutine&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 UNSER ARBEITSALLTAG
				p Was gibt’s hier zu sehen? Viel gemeinsame Zeit, Ideenentwicklung und konzentrierte Arbeit, Kochsessions und Kicker in der Pause, FIFA in der Gamingzone und und und. So sehen ganz normale Tage in der brandung aus!
			+b.img-row.row
				.col-md-4
					+createleImg(1 ,'small-item')
					+createleImg(2 ,'big-item')
				.col-md-4
					+createleImg(3 ,'big-item')
					+createleImg(4 ,'small-item')
				.col-md-4
					+createleImg(5 ,'small-item')
					+createleImg(6 ,'big-item')
	// end sRoutine