// start .headerBlock
.headerBlock {
	position: relative;
	z-index: 5;

	--sPT: #{0};
	--sTPB: #{0};


	--sPB: #{87px};
	@include media-breakpoint-up(md){
		--sPB: #{130px};
	}
	@include media-breakpoint-up(lg){
		--sPB: #{125px};
	}
	@include media-breakpoint-up(xl){
		--sPB: #{156px};
	}
	@include media-breakpoint-up(xxl){
		--sPB: #{175px};
	}


	&__bg{
		width: 100%;
		position: relative;
		z-index: -1;

		height: 545px;
		@include media-breakpoint-up(md){
			padding-top: 65.4%;
			height: 0;
		}
		@include media-breakpoint-up(lg){
			padding-top: 61.9%;
		}
		@include media-breakpoint-up(xxl){
			padding-top: 60.36%;
		}

		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__sec-content{

	}
	&__row{
		@include roww(44px);

		counter-reset: list 0;

		//go top
		margin-top: -85px;
		@include media-breakpoint-up(md){
			margin-top: -174px;
		}
		@include media-breakpoint-up(lg){
			margin-top: -230px;
		}
		@include media-breakpoint-up(xl){
			margin-top: -323px;
		}
		@include media-breakpoint-up(xxl){
			margin-top: -303px;
		}
	}
	&__col{
		display: flex;
		position: relative;

		margin-bottom: 45px;
		@include media-breakpoint-up(md){
			margin-bottom: 34px;
		}
		@include media-breakpoint-up(lg){
			margin-bottom: 37px;
		}
		&:last-child{
			margin-bottom: 0;
		}
		@include media-breakpoint-up(xl){
			display: block;
			margin-bottom: 0;

			overflow: hidden;
			&:hover{
				overflow: visible;
				.headerBlock__{}


				.headerBlock__content{
					background-color: $primary2;
					&:before{
						margin-left: 0;
						color: $white;
						margin-bottom: 30px;
					}
					margin-bottom: -153px;
				}
				.headerBlock__img{
					transform: scale(0);
					opacity: 0;
					bottom: -101px;
				}
				.headerBlock__transform-xl{
					background-color: $primary;
					transform: scaleY(1);
				}
				.headerBlock__txt p{
					color: $white;
				}
				.headerBlock__list ul{
					@include media-breakpoint-up(xl){
						margin: 0 0 50px 0;
					}
				}
				.headerBlock__{}
			}
		}

	}
	&__content{
		padding: 13px 36px 24px 35px;
		@include media-breakpoint-up(md){
			padding: 13px 47px 24px 35px;
		}
		@include media-breakpoint-up(lg){
			padding: 12px 39px 19px 35px;
		}
		@include media-breakpoint-up(xl){
			position: relative;
			padding: 12px 38px 40px 38px;
		}
		@include media-breakpoint-up(xxl){
			padding: 15px 61px 40px 61px;
		}
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

		@include mt();
		background-color: $white;
		list-style-type: none;
		&:before{

			@include mt();
			margin-bottom: 10px;
			margin-left: 0;
			font-size: 70px;
			@include media-breakpoint-up(xl){
				margin-bottom: -13px;
				margin-left: -6px;
				font-size: 90px;
			}
			@include media-breakpoint-up(xxl){
				margin-bottom: -23px;
				margin-left: -17px;
				font-size: 150px;
			}

			display: block;

			counter-increment: list;
			content: "0" counter(list);

			color: $light;
			//color: red;
			font-family: $mono;
			line-height: 1;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	&__title{
		@include mt();
		color: $body-color;
		font-weight: 600;

		font-size: 21px;
		margin-bottom: 17px;
		@include media-breakpoint-up(xl){
			font-size: 24px;
			margin-bottom: 45px;
			min-height: 60px
		}
		@include media-breakpoint-up(xxl){
			font-size: 30px;
			margin-bottom: 35px;
			min-height: 76px;
		}

		line-height: 1.28;
	}
	&__txt{
		@include media-breakpoint-up(xl){
			min-height: 89px;
		}
		@include media-breakpoint-up(xxl){
			min-height: 140px;
		}

		p{
			@include mt();
			color: $secondary;
			font-weight: 600;

			font-size: 16px;
			line-height: 1.65;
			margin-bottom: 24px;
			@include media-breakpoint-up(lg){
				font-size: 16px;
				line-height: 1.65;
				margin-bottom: 24px;
			}
			@include media-breakpoint-up(xl){
				font-size: 18px;
				line-height: (32/21);
				margin-bottom: 1rem;
			}
			@include media-breakpoint-up(xxl){
				font-size: 21px;
			}
		}
	}
	//tablet-list
	&__transform-xl{

		@include media-breakpoint-up(xl){
			position: absolute;
			z-index: 0;
			left: 0;
			top: 100%;
			width: 100%;
			background-color: $white;
			@include mt();
			//transition: all .3s ease-in-out .36s;
			transform: scaleY(0);
			transform-origin: top;

			padding: 0 38px 30px 38px;
		}
		@include media-breakpoint-up(xxl){
			padding: 0 61px 51px 61px;
			min-height: 383px;
		}
	}

	&__ul-title{
		color: $primary2;
		line-height: (26/16);
		font-size: 16px;
		margin-bottom: 15px;
		@include media-breakpoint-up(xl){
			color: $white;
			line-height: (32/18);
			font-size: 18px;
			margin-bottom: 20px;
		}
		@include media-breakpoint-up(xxl){
			line-height: (32/21);
			font-size: 21px;
			margin-bottom: 30px;
		}

		font-weight: 600;


	}
	&__list{
		color: $primary2;
		ul{
			list-style: none;
			padding: 0;
			margin: 0;

			transition: all .3s ease-out .18s;
		}
		li{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 22px;
				height: 100%;

				background-image: url(../img/svg/feather.svg);
				@include media-breakpoint-up(xl){
					background-image: url(../img/svg/white-feather.svg);
				}

				background-repeat: no-repeat;

				background-size: 14px;
				background-position: 0px 0px;
			}

			color: $primary2;
			font-size: 16px;
			line-height: (26/16);
			@include media-breakpoint-up(xl){
				color: $white;
				line-height: (32/18);
				font-size: 18px;
			}
			@include media-breakpoint-up(xxl){
				line-height: (32/21);
				font-size: 21px;
			}

			font-weight: 500;

			padding-left: 22px;


			margin-bottom: 7px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	//btn
	&__white-btn{
		@extend .circle-btn-frame;
		border: 1px solid $white;
		&:after{
			border: 1px solid $white;
		}

		color: $primary2 !important;
		&:before{
			background-color: $white;
		}

		&:hover{
			font-size: 15px;
			color: $primary2;

			&:before{
				background-color: $white;
			}
			&:after{
				animation: water-drop 1.3s 1 cubic-bezier(.29,.79,.29,.79);
			}
		}

	}

	//pic
	&__img{
		flex-shrink: 0;
		width: 50%;
		position: relative;
		height: auto;

		@include mt();
		transform-origin: bottom left;
		bottom: 0;

		@include media-breakpoint-up(xl){
			width: 100%;
			height: 0;
			padding-top: 84.10%;
		}

		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	//03-page
	&--sm {
		position: relative;
		padding-top: 0 !important;
		height: calc(545px / 2);
		@include media-breakpoint-up(md) {
			height: 28.8vw;
		}
		padding-top: 0 !important;
		overflow: hidden;
	}
	&__iconWrap {
		position: absolute;
		z-index: 2;
		left: 39%;
		top: 40%;
		@include media-breakpoint-up(lg) {
			left: 39%;
			top: 8.5vw;
		}

		.icon {
			font-size: rem(60px);
			@include media-breakpoint-up(md) {
				font-size: 10.3vw;
			}
			color: #fff;
		}
	}

	//05
	&-gradient {
		padding-bottom: 0 !important;
		picture {
			height: 100%;
			padding-top: 0 !important;
		}
		img {
			height: 100%;
			max-width: 100%;
			object-fit: none;
		}
		&::before {
			content: '';
			position: absolute;
			@include a-cent;
			width: 100%;
			height: 100%;
			background-color: rgba($color: $body-color, $alpha: 0.5);
		}
		h1 {
			font-weight: 600;
		}
	}

	.section-title--center {
		position: absolute;
		top: 40%;
		@include a-cent(x);
		h1 {
			color: #fff;
			position: relative;
			@include media-breakpoint-up(xl){
				font-size: 45px;

			}
			@include media-breakpoint-up(xxl){
				font-size: 60px;
			}
		}
	}
}
// end.headerBlock