mixin sInnovation()
	// start sInnovation
	+b.SECTION.sInnovation.section#sInnovation&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sInnovation
				
			.row
	// end sInnovation