mixin sJoinUs()
	// start sJoinUs
	+b.SECTION.sJoinUs.section#sJoinUs&attributes(attributes)
		.container.text-center
			+b.section-title.text-center
				h3 Haben wir dein Interesse geweckt und du möchtest mit uns dein Projekt Starten?
				p Zögere nicht und vereinbare einen Kennenlerntermin mit uns.
			+e.ingWrap
				+pic('photoPerson-1','','')
			+e.name Christian Dittrich
			+e.position Softwareentwickler und Unternehmer
			+e.mail(href="mailto:contact@creatale.de") contact@creatale.de
	// end sJoinUs