// start .sJoinUs
.sJoinUs {
	color: #fff;
	padding-bottom: calc(var(--sPB) * 1.05);

	&__mail {
		color: #fff;
		font-weight: 600;
		margin-bottom: 20px;
		display: block;

		font-size: 16px;
		@include media-breakpoint-up(xl){
			font-size: 18px;
		}
		@include media-breakpoint-up(xxl){
			font-size: 21px;
		}
	}

	&__name {
		font-weight: 600;
		text-transform: uppercase;
		line-height: 1.4;

		font-size: 21px;
		@include media-breakpoint-up(xl){
			font-size: 24px;
		}
		@include media-breakpoint-up(xxl){
			font-size: 30px;
		}
	}

	&__position {
		font-size: 14px;
		@include media-breakpoint-up(lg) {
			font-size: 16px;
		}
		@include media-breakpoint-up(xl) {
			font-size: $small;
		}
		font-weight: 500;
		margin-bottom: 18px;
	}

	p {
		font-weight: 500;

		font-size: 16px;
		@include media-breakpoint-up(xl){
			font-size: 18px;
		}
		@include media-breakpoint-up(xxl){
			font-size: 21px;
		}
	}

	h3 {
		max-width: 790px;
		font-weight: 700;
		line-height: 1.15;
		margin: 0 auto 19px;

		font-size: 21px;
		@include media-breakpoint-up(xl){
			font-size: 24px;
		}
		@include media-breakpoint-up(xxl){
			font-size: 30px;
		}
	}

	.section-title {
		padding-bottom: calc(var(--sTPB) / 2.3);
	}

	&__ingWrap {
		border: 1px solid $white;
		border-radius: 50%;
		padding: 25px;
		width: 279px;
		height: 279px;
		margin: 0 auto 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		picture {
			flex-shrink: 0;
			border-radius: 50%;
			overflow: hidden;
			width: 229px;
			height: 229px;

		}
		img {
			width: 100%;
		}
		&--sm {
			width: 120px;
			height: 120px;
			@include media-breakpoint-up(sm) {
				width: 165px;
				height: 164px;
			}
			@include media-breakpoint-only(lg) {
				width: 120px;
				height: 120px;
			}
			margin-bottom: 10px;
			picture {
				width: 100px;
				height: 100px;
				@include media-breakpoint-up(sm) {
					width: 136px;
					height: 136px;
				}
				@include media-breakpoint-only(lg) {
					width: 100px;
					height: 100px;
				}
			}
		}
	}
	&__btn {
		width: 120px;
		height: 120px;
		font-size: 14px;
		@include media-breakpoint-up(sm) {
			width: 165px;
			height: 164px;
			font-size: 13px;
		}
		@include media-breakpoint-only(lg) {
			width: 120px;
			height: 120px;
			//font-size: 15px;
		}

		border: 1px solid $white;
		color: $primary2 !important;
		&::before {
			background-color: #fbdd00 !important;
		}
		&:hover::before {
			background-color: $black !important;
		}

		&:after{
			border: 1px solid $white;
		}
	}

	&__col {
		display: flex;
		justify-content: center;
		// align-items: center;
	}
	&__item {
		@include media-breakpoint-up(xl) {
			margin-bottom: 33px;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

	//
	&--heigher{
		@include media-breakpoint-up(xxl){
			padding-bottom: 114px;
		}
	}
	&--bigger{
		@include media-breakpoint-up(xxl){
			padding-top: 68px;
			padding-bottom: 136px;
		}
	}

	&--team {
		padding-top: calc(var(--sPT) / 1.3);
		@include media-breakpoint-up(xxl){
			padding-top: 125px;
		}
		padding-bottom: calc(var(--sPB) * 1.58);

		h3 {
			margin-bottom: 10px;
		}
		.sJoinUs__ingWrap:not(.sJoinUs__ingWrap--sm) {
			@include media-breakpoint-only(lg) {
				width: 200px;
				height: 200px;
			}
			picture {
				@include media-breakpoint-only(lg) {
					width: 180px;
					height: 180px;
				}
			}
		}
	}
	&--carier{
		@include media-breakpoint-up(xxl){
			padding-top: 73px;
			padding-bottom: 38px;
		}
		.section-title{
			padding-bottom: 30px;
			@include media-breakpoint-up(lg){
				padding-bottom: 52px;
			}
			h2{
				margin-bottom: 0;
			}
		}

		.btn-job{
			margin: 0 auto rem(60) auto;

			@extend .circle-btn-frame;
			border: 1px solid $white;
			&:after{
				border: 1px solid $white;
			}

			color: $primary2 !important;
			&:before{
				background-color: $white;
			}

			&:hover{
				font-size: 15px;
				color: $primary2;

				&:before{

				}
				&:after{
					animation: water-drop 1.3s 1 cubic-bezier(.29,.79,.29,.79);
				}
			}

		}
		//
		position: relative;
		.sJoinUs__bg-bot{
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			@include media-breakpoint-up(xxl){
				transform: translateX(-56%);
			}


			display: none;
			@include media-breakpoint-up(sm){
				display: block;
				width: 150px;
			}
			@include media-breakpoint-up(md){
				width: 200px;
			}
			@include media-breakpoint-up(lg){
				width: 280px;
				display: block;
			}
			@include media-breakpoint-up(xl){
				width: 320px;
			}
			@include media-breakpoint-up(xxl){
				width: 390px;
			}


			img{
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}

	}


	h2 {
		margin-bottom: 65px;
		@include media-breakpoint-up(xl){
			font-size: 45px;

		}
		@include media-breakpoint-up(xxl){
			font-size: 60px;
		}
	}

} // end.sJoinUs