// start .sJoinUs
.sJoinUs {
	color: #fff;

	&__mail {
		color: #fff;
		font-weight: 600;
	}

	&__name {
		font-weight: 600;
		font-size: 30px;
		text-transform: uppercase;
	}

	&__position {
		font-size: $small;
		font-weight: 500;
		margin-bottom: 30px;
	}

	p {
		font-weight: 500;
	}

	h3 {
		max-width: 790px;
		font-weight: 700;
		font-size: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	&__ingWrap {
		border: 1px solid $white;
		border-radius: 50%;
		padding: 25px;
		width: 279px;
		height: 279px;
		margin: 0 auto 30px;
		picture {
			border-radius: 50%;
			overflow: hidden;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sJoinUs