mixin sJoinUs()
	// start sJoinUs
	+b.SECTION.sJoinUs.section#sJoinUs&attributes(attributes)
		.container.text-center
			+b.section-title.text-center
				h3 Haben wir dein Interesse geweckt und du möchtest mit uns dein Projekt Starten?
				p Zögere nicht und vereinbare einen Kennenlerntermin mit uns.
			+e.A.ingWrap(href='mailto:contact@creatale.de')
				+pic('photoPerson-1','','')
			+e.name Christian Dittrich
			+e.position Softwareentwickler und Unternehmer
			+e.mail(href="mailto:contact@creatale.de") contact@creatale.de
	// end sJoinUs

mixin sJoinUs-christian()
	// start sJoinUs
	+b.SECTION.sJoinUs--heigher.section#sJoinUs&attributes(attributes)
		.container.text-center
			+b.section-title.text-center
				h3
					| Klingt das interessant für Dich?
					br.d-none.d-xxl-block
					| So zünden wir Deinen Start. Melde dich bei uns per Mail.
				p Wir lieben Herausforderungen!
			+e.A.ingWrap(href='mailto:contact@creatale.de')
				+pic('photoPerson-2','','')
			+e.name Christian Dittrich
			+e.position Softwareentwickler und Unternehmer
			+e.mail(href="mailto:contact@creatale.de") contact@creatale.de
	// end sJoinUs

mixin sJoinUs-team()
	// start sJoinUs
	+b.SECTION.sJoinUs--team.section#sJoinUs&attributes(attributes)
		.container.text-center
			+b.section-title.text-center
				h2 Team
				h3 Du möchtest auch ein Projekt mit uns Starten?
				p Zögere nicht und schreibe uns dein Anliegen.
			mixin item(i,t)
				+e.item
					if block
						block
					else
						+e.A.ingWrap--sm(href='mailto:contact@creatale.de')
							+pic(`photoPerson-${i}`,'','')
						p= t
			.row.justify-content-center
				.col-lg
					.row
						+e.col.col-12
							+item('3','Christin')
						+e.col.col-6
							+item('4','Anna')
						+e.col.col-6
							+item('5','Frank')
				.col-lg-3
					+e.A.ingWrap(href='mailto:contact@creatale.de')
						+pic('photoPerson-2','','')
					+e.name Christian Dittrich
					+e.position Softwareentwickler und Unternehmer
					+e.mail(href="mailto:contact@creatale.de") contact@creatale.de
				.col-lg
					.row
						+e.col.col-12
							+item('6','Patrik')
						+e.col.col-6
							+item()
								+e.btn.circle-btn-frame(href="#")
									| Werde Teil
									br
									| unseres
									br
									| Teams!
						+e.col.col-6
							+item('7','Markus')


mixin sJoinUs-carier()
	// start sJoinUs
	+b.SECTION.sJoinUs--team.sJoinUs--carier.section#sJoinUs&attributes(attributes)
		+pic('small-mars-man.png')(class="sJoinUs__bg-bot")
		.container.text-center
			+b.section-title.text-center
				p Wir stellen wieder ein.
				h2 Werde ein Teil von Creatale
			mixin item(i,t)
				+e.item
					if block
						block
					else
						+e.A.ingWrap--sm(href='mailto:contact@creatale.de')
							+pic(`photoPerson-${i}`,'','')
						p= t
			.row.justify-content-center
				.col-lg
					.row
						+e.col.col-12
							+item('3','Christin')
						+e.col.col-6
							+item('4','Anna')
						+e.col.col-6
							+item('felix.png','Felix')
				.col-lg-3
					a.btn-job(href='#')
						| JOB
						br
						| Finden
				.col-lg
					.row
						+e.col.col-12
							+item('marius.png','Marius')
						+e.col.col-6
							+item()
								+e.btn.circle-btn-frame(href="#")
									| Werde Teil
									br
									| unseres
									br
									| Teams!
						+e.col.col-6
							+item('7','Markus')

mixin sJoinUs-04()
	// start sJoinUs
	+b.SECTION.sJoinUs.section#sJoinUs&attributes(attributes)
		.container.text-center
			+b.section-title.text-center
				h3 Du möchtest auch ein Projekt mit uns Starten?
				p Zögere nicht und vereinbare einen Kennenlerntermin mit uns.
			+e.A.ingWrap(href='mailto:contact@creatale.de')
				+pic('photoPerson-2','','')
			+e.name Christian Dittrich
			+e.position Softwareentwickler und Unternehmer
			+e.mail(href="mailto:contact@creatale.de") contact@creatale.de