mixin sVideo()
	// start sVideo
	+b.SECTION.sVideo.section#sVideo&attributes(attributes)
		+pic('sVideo_bg.jpg')(class="sVideo__bg")
		+e.container.container
			+e.content
				+e.A.play-btn(href="https://www.youtube.com/watch?v=en6gms6e54Q&list=PLIU76b8Cjem5B3sufBJ_KFTpKkMEvaTQR" data-fancybox="video")
				+b.section-title.text-center
					h2 Warum Creatale?
					p in 20 Sekunden erklärt

	// end sVideo