// start .sVideo
.sVideo {
	color: $white;
	position: relative;
	z-index: 1;

	//min-height: 100vh;
	min-height: 683px;
	@include media-breakpoint-up(md){
		min-height: 575px;
	}
	@include media-breakpoint-up(xl){
		min-height: 100vh;
	}

	--sPT: #{0};
	--sPB: #{0};
	--sTPB: #{50px};

	display: flex;
	align-items: stretch;

	&__bg{
		background-color: $body-color;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img{
			width: 100%;
			height: 100%;
			opacity: .7;
			object-fit: cover;
		}
	}


	&__container{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: auto;
	}
	&__content{
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 43px;
		@include media-breakpoint-up(md){
			padding-top: 74px;
		}
		@include media-breakpoint-up(xl){
			padding-top: 56px;
		}
		@include media-breakpoint-up(xxl){
			padding-top: 259px;
		}
	}
	&__play-btn{
		@extend .circle-btn-frame;
		border: 1px solid $white;

		width: 121px;
		height: 121px;
		margin-bottom: 54px;
		@include media-breakpoint-up(md){
			margin-bottom: 55px;
		}
		@include media-breakpoint-up(xl){
			width: 171px;
			height: 171px;
			margin-bottom: 72px;
		}
		@include media-breakpoint-up(xxl){
			width: 195px;
			height: 195px;
			margin-bottom: 63px;
		}
		&:before{
			animation: none !important;
			background-color: $primary2 !important;

			width: calc(100% - 43px);
			height: calc(100% - 43px);
			@include media-breakpoint-up(xl){
				width: calc(100% - 61px);
				height: calc(100% - 61px);
			}
			@include media-breakpoint-up(xxl){
				width: calc(100% - 70px);
				height: calc(100% - 70px);
			}
		}
		&:after{
			border: 1px solid $white;
		}
		&:hover{
			&:before{
				@include media-breakpoint-up(xl){
					transition: all .2s;
					width: calc(100% - 43px);
					height: calc(100% - 43px);
				}
			}
			img{
				transform: scale(1.2);
			}
		}

		img {
			@include mt();
			height: auto;

			width: 12px;
			@include media-breakpoint-up(xl){
				width: 20px;
			}
		}
	}

	.section-title{
		h2{
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 0;

			line-height: 1.3;
			@include media-breakpoint-up(md){
				line-height: 0.8;
			}
			@include media-breakpoint-up(xl){
				line-height: 0.9;
			}
		}
		p{
			font-weight: 600;

			font-size: 18px;
			@include media-breakpoint-up(md){
				font-size: 21px;
			}
			@include media-breakpoint-up(xl){
				font-size: 24px;
			}
			@include media-breakpoint-up(xxl){
				font-size: 41px;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sVideo