extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sHowAchive/_sHowAchive.pug
include ../blocks/sDigits/_sDigits.pug
include ../blocks/sSprint/_sSprint.pug
include ../blocks/sJoinUs/_sJoinUs.pug
include ../blocks/sGarantie/_sGarantie.pug
include ../blocks/sWarranty/_sWarranty.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sVControl/_sVControl.pug
include ../blocks/sAgileDesr/_sAgileDesr.pug
include ../blocks/sWarrantyTabs/_sWarrantyTabs.pug
include ../blocks/sChess/_sChess.pug
include ../blocks/sGames/_sGames.pug
include ../blocks/sRoutine/_sRoutine.pug
include ../blocks/sBlogDet/_sBlogDet.pug

block variables
	- let  mainPage= null
block title
	- let  title= '00-carier'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav(class="nav-sm")
		//- +topLine()
	.container
		+breadcrumb('Karriere')
	+headerBlock-sm(class="headerBlock-bg-only headerBlock-bg-dark")
		+pic('carier-bg-new.jpg')(class="headerBlock__bg")
	+sJoinUs-carier(class="bg-primary")
	+b.sChess--carier.section#sChess&attributes(attributes)
		+e.items-cont
			+chessItem('000')
				h2 Warum zu Creatale?
				p Digitalagenturen gibt es wie Sand am Meer - also warum gerade in unsere mir uns durchstarten? Jede und jeder von uns hat unterschiedliche Vorstellungen von seinem perfekten Arbeitsplatz: moderne Workspaces und flexible Arbeitszeiten, grandioser Teamspirit innerhalb und außerhalb der Projekte sowie Espressoflat und Feierabendbier. Was ist dir wichtig? Mach dir hier einen Überblick darüber, was wir dir für deine tägliche Arbeit bei uns bieten.
	+sRoutine()
	+sWarrantyTabs-karrier()
	+sGames-karriere()
	//- +sForm()
	+sContact()
	+footer()


