extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sHowAchive/_sHowAchive.pug
include ../blocks/sDigits/_sDigits.pug
include ../blocks/sSprint/_sSprint.pug
include ../blocks/sJoinUs/_sJoinUs.pug
include ../blocks/sGarantie/_sGarantie.pug
include ../blocks/sWarranty/_sWarranty.pug
include ../blocks/sDetails/_sDetails.pug

include ../blocks/sNews/_sNews.pug
include ../blocks/sBlog/_sBlog.pug
include ../blocks/sBlogDet/_sBlogDet.pug
include ../blocks/sForge/_sForge.pug
include ../blocks/sGames/_sGames.pug
include ../blocks/sForgeDet/_sForgeDet.pug

block variables
	- let  mainPage='painted-primary'
block title
	- let  title= '13-contact'
	title= title
block pagecontent
	//-+mob-mnu()
		+header()
			+top-nav(class="nav-sm")
			//- +topLine()
		.container
			+breadcrumb('Über uns', 'Forge')
	+sContact()(class="padding-0")
	+footer()


