extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sDigits/_sDigits.pug
include ../blocks/sInnovation/_sInnovation.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sWarranty/_sWarranty.pug
include ../blocks/sSlider/_sSlider.pug
include ../blocks/sNews/_sNews.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		+topLine()
	+headerBlock()
	+sVideo()
	+sDigits()
	+sInnovation()
	+sSteps()
	+sWarranty()
	+sSlider()
	+sNews()
	+sForm()
	+sContact()
	+footer()


