mixin sAgileDesr()
	// start sAgileDesr
	+b.SECTION.sAgileDesr.section#sAgileDesr&attributes(attributes)
		+pic('headBl-bg.jpg')(class="sAgileDesr__bg")
		+e.content
			+e.container.container
				.row
					+e.title-col.col-md-6
						.h6 Agile Entwicklung: So wird deine Software Realität
						p Wir entwickeln Deine Individual-Software in Teilschritten, auch Sprints genannt. Nach jedem Sprint erhältst Du ein funktionierendes Produkt, das allein Dir gehört. Dein Feedback ist dabei Gold wert. Du kannst jederzeit deine Änderungswünsche einbringen, die wir im nächsten Sprint direkt umsetzen. So geht das Sprint für Sprint – bis Du Dich zurücklehnen kannst und staunst, wie schnell aus Deiner Vision die perfekte Software geworden ist.
					+e.list-col.col-md
						ul
							li Du bekommst echtes Anwender-Feedback aus der Praxis.
							li Du kannst nach dem Sprint bei Bedarf die Richtung ändern und zum&nbsp;Beispiel das Anwender-Feedback oder eine neue Marktlage berücksichtigen.
							li Mit der abgeschlossenen Software-Version kannst Du sofort Geld verdienen.
	// end sAgileDesr