mixin sForgeDet()
	// start sForgeDet
	+b.SECTION.sForgeDet.section#sForgeDet&attributes(attributes)
		.container
			+b.section-title
				h2 Area Onety Five
				p You thought you’d hit it big with the apprenticeship at Area Onety Five, but then the invasion came… You pillaged a random science lab and have no idea what all this stuff does. Probably break really soon. And then what do you do? Use [WASD] to run und jump, [I] to open your inventory and left click to shoot.
			.row
	// end sForgeDet