mixin topLine()
	// start topLine
	+b.SECTION.topLine.section#topLine&attributes(attributes)
		.container
			+e.top-txt.d-xl-none
				p Technik Beherrschen, Menschen begeistern.
			.row
				.col
					+b.section-title
						h1 Visionäre Software die BegeisterT.
				.col-auto.d-none.d-md-block
					+soc()
	// end topLine