// start .sSprint
.sSprint {
	padding-bottom: calc(var(--sPB) / 3);
	h3 {
		color: $white;
		font-size: 30px;
		font-weight: 600;
	}

	.section-title {
		padding-left: 10px;
		@include media-breakpoint-up(md) {
			padding-left: 70px;
		}
		padding-bottom: calc(var(--sTPB) / 1.9);
	}

	.container {
		@include media-breakpoint-up(xxl) {
			max-width: 1666px;
		}
	}

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(sm) {}

	.h4 {
		font-size: 25px;
		color: $white;
		font-weight: 600;
		line-height: 1.3;
		margin-bottom: 1.5rem;
	}

	&--05 {
		padding-top: calc(var(--sPT) * 1.1);
		.section-title {
			max-width: 770px;
			padding-bottom: calc(var(--sTPB) * 1.8);
		}
		.sprintItem__textCol {
			padding-top: 52px;
		}
		.sprintItem__title {
			margin-bottom: 18px;
		}
		.sprintItem {
			p {
				line-height: 1.55;
				margin-bottom: 30px;
			}

			p.black {
				margin-bottom: 0px;
			}

		}
	}

} // end.sSprint

.sprintItem {
	background-color: #fff;
	margin-bottom: 30px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	overflow: hidden;
	.row {
		@include media-breakpoint-up(lg) {
			@include roww(21px);
		}
	}

	&__textCol {
		padding-bottom: 20px;
		padding-left: 30px;
		padding-right: 30px;
		@include media-breakpoint-up(lg) {
			padding-left: 72px !important;
			max-width: 50%;
		}
		@include media-breakpoint-up(xxl) {
			max-width: 818px;
		}
	}

	&__col {
		overflow: hidden;
	}

	picture {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		img {
			@include media-breakpoint-up(md) {
				height: 100%;
				max-width: none;
			}
		}
	}


	&__numb {
		font-size: 150px;
		@extend .mono;
		color: $light;
		font-weight: 700;
		line-height: 1;
		margin-bottom: -54px;
		// margin-top: -50px;
		@include media-breakpoint-up(lg) {
			padding-top: 23px;
			margin-left: -15px;
		}
	}

	&__title {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	
	&__link {
		font-size: 30px;
		font-weight: 600;
		color: $primary2;
	}

	p {
		color: $secondary;
		font-weight: 600;
		margin-bottom: 40px;
	}

	&__bottomLine {
		@include media-breakpoint-up(sm) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__iconWrap {
		@include media-breakpoint-down(sm) {
			margin-bottom: 20px;
		}
	}
}