// start .sHowAchive
.sHowAchive {
	padding-bottom: calc(var(--sPB) / 2);
	@include media-breakpoint-up(lg) {
		padding-bottom: calc(var(--sPB) / 1.37);
	}
	padding-top: calc(var(--sPT) / 1.05);
	.container {
		@include media-breakpoint-up(xxl) {
			max-width: 1530px;
		}
	}
	color: #fff;

	h2 {
		max-width: 700px;
		font-weight: 600;
		line-height: 1.1;
		@include media-breakpoint-up(xxl) {
			font-size: 60px;
		}
	}

	.h6 {
		font-size: 25px;
		font-weight: 600;
		line-height: 1.3;
		margin-bottom: 20px;
		@include media-breakpoint-down(md) {
			font-size: 20px;
		}
	}

	p {
		font-weight: 500;
		margin-bottom: 40px;
	}

	.row{
		@include media-breakpoint-up(xl) {
			@include roww(131px);
		}
	}

	.section-title {
		padding-bottom: calc(var(--sTPB) * 1.5);
	}

	li {
		list-style: none;
		position: relative;
		padding-left: 30px;
		@include media-breakpoint-up(sm) {
			padding-left: 43px;
		}
		margin-bottom: 17px;
		font-weight: 600;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 5px;
			width: 23px;
			height: 23px;
			background-image: url('../img/svg/feather-white.svg');
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	ul {
		margin-bottom: 1.1rem;
	}

	&-second {
		padding-top: calc(var(--sPT) / 2);
		padding-bottom: calc(var(--sPB) / 2.3);

		.section-title {
			padding-bottom: calc(var(--sTPB) / 2.6);
		}

		.h6 {
			margin-bottom: 1rem;
		}

		p {
			max-width: 632px;
			line-height: 1.55;
			margin-bottom: 1.5rem;
		}

	}

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(sm) {}

} // end.sHowAchive