// start .sLabor
.sLabor {
	position: relative;
	padding-top: calc(var(--sPT) * 1.15);
	padding-bottom: calc(var(--sPB) / 2.8);
	
	// .container {
	// 	@include media-breakpoint-up(xxl) {
	// 		max-width: 1543px;
	// 	}
	// }

	h2 {
		color: $primary2;
		font-weight: 600;
		font-size: 25px;
		@include media-breakpoint-up(xl){
			font-size: 45px;
		}
		@include media-breakpoint-up(xxl){
			font-size: 60px;

		}
		max-width: 950px;
		line-height: 1.1;
		@include media-breakpoint-down(lg) {
			margin-bottom: 20px;
		}
	}

	.section-title {
		padding-bottom: calc(var(--sTPB) * 1.65);
		padding-left: 25px;
		@include media-breakpoint-up(lg) {
			padding-left: 60px;
			display: flex;
			justify-content: space-between;
			// align-items: center;
		}
		&__logo {
			@include media-breakpoint-up(lg) {
				padding-top: 20px;
				width: 310px;
				img {
					width: 100%;
				}
			}
			@include media-breakpoint-up(xxl) {
				margin-right: 20px;
			}
		}
	}

	&__main {
		padding-left: 25px;
		@include media-breakpoint-up(lg) {
			padding-left: 63px;
		}
	}


	picture {
		text-align: right;
	}

	&__subtitle {
		font-size: $small;
		color: $secondary;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;
		padding-left: 25px;
		@include media-breakpoint-up(lg) {
			padding-left: 63px;
		}
	}


	.h6 {
		font-weight: 600;
		font-size: 25px;
		color: $dark;
		margin-bottom: .7rem;
	}

	p {
		font-weight: 500;
		color: $dark;
		max-width: 595px;
		line-height: calc(32/21);
		margin-bottom: 1.5rem;
		@include media-breakpoint-down(md) {
			font-size: 16px;
		}
	}
	
	ul {
		margin-top: -13px;
		@include media-breakpoint-up(xxl) {
			margin-left: -10px;
		}
	}

	li {
		list-style: none;
		position: relative;
		padding-left: 35px;
		color: $light-dark;
		margin-bottom: 5px;
		@include media-breakpoint-up(md) {
			margin-bottom: 18px;
		}
		@include media-breakpoint-down(md) {
			font-size: 16px;
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 5px;
			width: 23px;
			height: 23px;
			background-image: url('../img/svg/feather.svg');
			background-position: center;
			background-repeat: no-repeat;

		}
	}

	&__form {
		max-width: 656px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		background-color: #f8f9fa;
		margin-bottom: 40px;
		margin-top: 30px;
		padding: 20px 15px 20px 15px;
		@include media-breakpoint-up(lg) {
			padding: 34px 44px 37px 58px;
			margin-top: 63px;
			margin-bottom: 80px;
		}
	}

	&__site {
		font-weight: 700;
		font-size: $small;
		color: $secondary;
		margin-bottom: 38px;
		display: block;
	}

	&__name {
		color: $primary2;
		margin-bottom: 5px;
		font-weight: 700;
	}

	&__data {
		color: $light-dark;
		font-weight: 500;
		span {
			display: block;
			margin-bottom: 1px;
		}
		a {
			color: inherit;
		}
		padding-bottom: 5px;
	}

	&__siteMain {
		font-weight: 500;
		color: $primary2;
		display: block;
	}

	&__rBlock {
		padding-top: 40px;
		@include media-breakpoint-up(lg) {
			padding-top: 100px;
		}
	}


	&__pic {
		margin-left: calc(-1 * (100vw - 99%) / 2);
		@include media-breakpoint-up(lg) {
			margin-left: calc(-1 * (100vw - 175%) / 2);
		}
		img {
			width: 100%;
		}
	}







	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(sm) {}

} // end.sLabor