//- breadcrumb
mixin breadcrumb(...items)
	nav(aria-label="breadcrumb" )
		ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
			li.breadcrumb-item( class='breadcrumb-item'   itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
				a(href="/" itemprop="item" )
					span( itemprop="name") 
						+icon('home')
					meta(itemprop="position" content= (i + 1) )
			-for (var i = 0; i < items.length; i++)
				li.breadcrumb-item( class=(i == items.length - 1 ? "active" : '')   itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
					a(href='#' itemprop="item" )
						span( itemprop="name")= items[i]
						meta(itemprop="position" content= (i + 1) )