mixin mnu()
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		li.menu-item.menu-item-has-children
			a(href="#" itemprop="url") Leistungen
			ul.sub-menu
				-
					var subnav= {
						"Unser Service":"#",
						"Flexgarantie":"#",
						"Technologien":"#",
						"Rundum-Sorglos-Komplett-Paket":"#" ,
						"Sprints":"#" ,
						}
				each sublinkPatch, sublinkName in subnav
					li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName
		li.menu-item: a(href="#" itemprop="url") Referenzen
		li.menu-item: a(href="#" itemprop="url") Über uns
		li.menu-item.current: a(href="#" itemprop="url") Kontakt
		//-each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName